[package]
name = "ruby-stacktrace"
version = "0.1.0"
authors = ["Julia Evans <julia@jvns.ca>"]

license = "MIT"
build = "build.rs"

[dependencies]
libc = "0.2.15"
regex = "0.2.3"
clap = "2"
byteorder = "0.5"
rand = "0.3"
fnv = "1.0.3"
elf = "0.0.9"
log = "0.3.6"
env_logger = "0.3.4"
read-process-memory = "0.1.0"

[target.'cfg(target_os="macos")'.dependencies]
mach = "0.0.5"
libproc = "0.1.0"
object = "0.1.0"
libarchive = "0.1.1"
libarchive3-sys = "0.1.2"

[dev-dependencies]
flate2 = "0.2.14"
lazy_static = "0.2.1"

[build-dependencies]
rustc_version = "0.1.7"
bindgen = "0.26.3"
